@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

html {
  --scrollbarBG: #0E2D3D;
  --thumbBG: #F7F719;
}
body{
  overflow-x: hidden;
  overflow-y: overlay;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
} 
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  /* border: 3px solid var(--scrollbarBG); */
}
body::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #dede09;
}
@media  screen and (max-width:700px) {
  body{
    overflow-x: hidden;
    overflow-y: overlay;
    background-color: #F7F719;
  }
}
